* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster Two', cursive;
}

body {
    background-color: rgb(255, 220, 220);
    background-image: url("/assets/header.png"), url("/assets/footer.png");
    background-repeat: no-repeat no-repeat;   
    background-position: top center, bottom center;
    background-size: 100% auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


h1 {
    font-family: "Pacifico";
    font-size: 48px;
    margin: 5vh;
}

h3 {
    font-size: 12px;
}

main{
    text-align: center;
}

a {
    text-decoration: none; /* Supprime le soulignement */
    color: black;
}

a:visited {
    color: inherit; /* Empêche le changement de couleur après clic */
}

img:hover, a:hover, button:hover, .dot:hover {
    cursor: pointer; /* Change l'icône de la souris */
}

header {
    position: relative;
}


/* header */

nav{
    max-width: 1300px;
    height: 100px;
    background-color: #07AF9F;
    border-radius: 50px;
    gap: 1%;
    margin: 6vh auto 0 auto;
    padding: 0 1vw;
}

[color="pink"]{--color:#FF1979}
[color="brown"]{--color:#472131}
button{
    font-family: "Pacifico";
    font-size: 16px;
    width: auto;
    white-space: nowrap;
    padding: 1vh 1vw;
    height: 60px;
    color: white;
    background: var(--color, #472131);
    border-radius: 50px;
    border: none;
}

#logo {
    transition: transform 0.1s ease-out;
}

#logo:hover {
    transform: rotate(-5deg);
}

#icon-menu{
    display: none;
    width: 60px;
    height: 60px;
}

.menu {
    display: none; /* Caché par défaut */
    position: absolute;
    top: 90px;
    right: 10px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
    z-index: 99;
}

.menu a {
    display: block;
    padding: 20px;
}

.menu a:hover {
    background: #ffc7c7;
    border-radius: 5px;
}

.menu.display {
    display: block;
}

/* slider */

.slider {
    position: relative;
    max-width: 1300px;
    overflow: hidden;
    border-radius: 25px;
    margin: 10vh auto 0 auto;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider-slide {
    min-width: 100%;
    background-color: rgb(255, 220, 220);
}

.slider-slide > img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.slider > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    transition: background 0.3s;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}

/* pagination */

.slider-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 20px;
    left: 50%;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    transition: background 0.3s;
}

.dot.active {
    background-color: #333;
}

/* articles */

.articles{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100%;
    max-width: 1300px;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
}

.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 2vh;
    border-radius: 25px;
}

.article img{
    width: 300px;
    height: 300px;
    border-radius: 25px;
    filter: saturate(85%);
}

.article img:hover{
    max-width: 100%;
    height: 100%;
    border-radius: 25px;
    filter:saturate(125%);
    transform:scale(1.1);
    transition: all 0.1s ease;
    vertical-align: middle;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    background-color: #07AF9F;
    margin: 10vh auto 0 auto;
    padding: 1vh 1vw;
    border-radius: 20px;
    gap: 2vh;
}

.socials{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.links{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.links > *{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > h3{
    margin: 0 auto 0 auto;
}

@media (max-width: 1300px){ /*sous 1300px*/

    /* slider */
    .slider{
        background-color: black;
    }

    /* articles */
    .articles{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media (max-width: 850px){ /*sous 850px*/

    #icon-menu{
        display: inline-block;
    }

    #btn-concept, #btn-events, #btn-shops{
        display: none;
    }

    nav.flex{
        justify-content: space-evenly;
    }
}

@media (max-width: 650px) {

    nav.flex{
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
    }

    #btn-products, #btn-account, #btn-command{
        display: none;
    }

    .articles{
        display: flex;
        flex-direction: column;
    }

    h1{
        font-size: 38px;
    }
}